.alert {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;

  padding: 0.7rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  box-sizing: border-box;
  width: 100%;
  word-break: break-word;

  transition: all 0.2s ease-in-out;
}

.badge {
  font-size: 0.6rem;
  font-weight: 700;
  padding: 0rem 0.4rem;
  border-radius: 1rem;

  color: black;
  background-color: var(--color-primary);

  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.badge-text {
  margin-right: 0.25rem;
}

.badge-circle {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.alert-success {
  color: var(--color-primary);
  background-color: var(--color-success);
}
.alert-success:hover {
  background-color: var(--color-success-dark);
}

.alert-success .badge-circle {
  background: rgb(10, 138, 0);
  background: linear-gradient(
    0deg,
    rgba(10, 138, 0, 1) 0%,
    rgba(20, 236, 4, 1) 79%,
    rgba(20, 236, 4, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}

.alert-danger {
  color: var(--color-primary);
  background-color: var(--color-error);
}
.alert-danger:hover {
  background-color: var(--color-error-dark);
}

.alert-danger .badge-circle {
  background: rgb(175, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(175, 0, 0, 1) 0%,
    rgba(255, 45, 45, 1) 72%,
    rgba(255, 0, 0, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}

.alert-info {
  color: var(--color-primary);
  background-color: var(--color-info);
}
.alert-info:hover {
  background-color: var(--color-info-dark);
}

.alert-info .badge-circle {
  background: rgb(185, 183, 1);
  background: linear-gradient(
    0deg,
    rgba(185, 183, 1, 1) 0%,
    rgba(236, 214, 4, 1) 79%,
    rgba(236, 233, 4, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}
