.btn {
  padding: 0.5rem 1rem;

  font-family: inherit;
  font-weight: 500;

  border: 1px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-sm {
  font-size: 0.8rem;
}

.btn-md {
  font-size: 1rem;
}

.btn-lg {
  font-size: 1.2rem;
}

.btn-primary {
  color: var(--color-primary);
  background-color: var(--bg-color-primary);
}
.btn-primary:hover {
  background-color: var(--bg-color-primary-dark);
}

.btn-secondary {
  color: var(--color-secondary-dark);
  background-color: var(--bg-color-secondary);
}
.btn-secondary:hover {
  color: var(--color-secondary-dark);
  background-color: var(--bg-color-secondary-dark);
}

.btn-outline-primary {
  color: var(--bg-color-primary);
  border-color: var(--bg-color-primary);
  background-color: transparent;
}
.btn-outline-primary:hover {
  color: var(--color-primary);
  background-color: var(--bg-color-primary);
}

.btn-outline-secondary {
  color: var(--bg-color-secondary);
  border-color: var(--bg-color-secondary);
  background-color: transparent;
}
.btn-outline-secondary:hover {
  color: var(--color-secondary-dark);
  background-color: var(--bg-color-secondary);
}
